<% content_for :title, "Dashboard" %>
<% content_for :new_layout, "1" %>

<%= render "shared/alerts" %>

<%= render "shared/navbar" %>

<div class="container" style="padding-top: 25px;">

  <h1 class="text-white">Dashboard</h1>

    <table class="table" id="vservers">
      <thead>
      <tr>
        <th width="30" style="text-align: center; border: none;">Name</th>
        <th style="text-align: center; border: none;">Verified</th>
      </tr>
      </thead>
      <tbody>
      <% Zone.where(:owner => current_user.id).each do |zone| %>
        <tr class="table-item">
          <td style="text-align: center; border: none;">
            <a href="<%= zone_path(zone.route_token) %>"><%= zone.name %></a>
          </td>
          <td style="border: none;">
            <%= zone.verified ? "Yes" : "No" %>
          </td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>

</div>


<%= render "shared/footer" %>
