<% content_for :title, "Nodes" %>
<% content_for :new_layout, "1" %>

<%= render "shared/alerts" %>

<%= render "shared/navbar" %>

<div class="container pt-4">

  <h1 class="text-white">Administration Dashboard</h1>

      <%= render "shared/admin_navbar_nodes" %>

      <div class="span9">

          <div class="tab-content">

            <div id="buttons" class="mb-3">
              <div class="clearfix">
                <div class="float-right">
                  <a href="#"><input type="submit" value="Add Zone" class="btn btn-small btn-success create" data-disable-with="Add Node"></a>
                </div>
              </div>
            </div>

            <table class="table table-bordered table-striped" id="zones">
              <thead>
                <tr>
                  <th style="text-align: center;">Name</th>
                  <th style="text-align: center;">Verified</th>
                  <th style="text-align: center;">Options</th>
                </tr>
              </thead>
              <tbody>
                <% Zone.all.each do |zone| %>
                  <tr class="table-item">
                    <th style="text-align: center;"><%= zone.name %></th>
                    <th style="text-align: center;"><%= zone.verified %></th>
                    <th style="text-align: center;"><%= link_to "Destroy Zone", admin_destroy_zones_path(zone.id) %></th>
                  </tr>
                <% end %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<%= form_for(:create, :url => admin_create_zones_path) do |f| %>
<div id="create-modal" class="modal hide fade">
  <div class="container modal-dialog modal-content card custom-item-bg-dark custom-modal text-white">
    <div class="modal-header no-border">
      <a class="close" data-dismiss="modal">&times;</a>
      <h3>Add Zone</h3>
    </div>
    <div class="modal-body">

        <div class="form-group">

          <label>Name</label>
          <%= f.text_field :name, :style => "width: 400px;", :class => "form-control custom-input-dark", :placeholder => "Zone Name", :rows => "1" %>
          <label>Owner</label>
          <%= f.text_field :owner, :style => "width: 400px;", :class => "form-control custom-input-dark", :placeholder => "Owner", :rows => "1" %>
        </div>
    </div>
    <div class="modal-footer no-border">

      <%= f.submit "Add", :id => "reinstall-modal-reinstall-btn", :class => "btn btn-danger"%>
      <a href="#" class="btn" data-dismiss="modal">Cancel</a>
    </div>
  </div>
<%end%>

<script>
$(document).ready(function() {
  $('.create').click(function() {
    modal = $('#create-modal');
    $('#create_name', modal).val('');
    $('#create_hostname', modal).val('');
    modal.modal('show');

  });
  $('.launchconsole').click(function() {

      window.open($(this).attr('href'),'', 'scrollbars=no,location=no,status=no,toolbar=no,menubar=no,width=640,height=550');

      return false;

    });
});
</script>

<%= render "shared/footer" %>